In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

In [3]:
data = pd.read_csv("product0.csv")
data2 = pd.read_csv("product1.csv")

In [4]:
print(data.dtypes)

id           int64
Name        object
Shop        object
Life         int64
Quantity     int64
Cal          int64
dtype: object

In [5]:
data

       id      Name         Shop  Life  Quantity   Cal
0       1      Milk          Cow    54        32  1340
1       2    Персик  Макс-маркет    73         1   363
2       3       Лук  Макс-маркет   133        43  1976
3       4     Редис  Макс-маркет    86        32  1631
4       5  Помидоры       Магнит   113        44  1425
..    ...       ...          ...   ...       ...   ...
995   996    Редька  Макс-маркет    56        22  1292
996   997  Помидоры       Магнит   110        23  1855
997   998    Огурец        Лента    68         3   755
998   999    Огурец       Магнит   106        20   317
999  1000       Лук        Лента    19        48   886

[1000 rows x 6 columns]

In [6]:
data2

       id  idProduct  Life  Count      Name         Shop         End
0       1          6    35     10      Milk          Cow  2023-12-14
1       2          7   240     21    Персик  Макс-маркет   2023-11-6
2       3          8    28     98       Лук  Макс-маркет    2024-2-8
3       4          9   300     33     Редис  Макс-маркет   2024-10-9
4       5         10   284     21  Помидоры       Магнит   2024-7-28
..    ...        ...   ...    ...       ...          ...         ...
995   996       1001   297     36    Редька  Макс-маркет   2024-8-26
996   997       1002    44     74  Помидоры       Магнит   2023-3-26
997   998       1003    83     34    Огурец        Лента    2023-1-3
998   999       1004   316      1    Огурец       Магнит  2024-10-26
999  1000       1005   264     88       Лук        Лента    2024-3-2

[1000 rows x 7 columns]

In [10]:
life_counter = 10 # Если время жизни продукта меньше X дней ==ПОКАЗЫВАТЬ==
Quantity_counter = 1 # Если кол-во продуктов меньше X дней ==ПОКАЗЫВАТЬ==

In [11]:
expiration_date_ends = data[(data.Life <= life_counter)]
food_is_running_out = data[(data.Quantity <= Quantity_counter)]

In [12]:
expiration_date_ends

      id                  Name           Shop  Life  Quantity   Cal
16    17                 Груша         Магнит     8        18   230
47    48                Сливки    Макс-маркет    10        46   918
49    50                 Перец      Пятерочка     4        50   334
64    65  Белокочанная капуста          Лента     1        42  1054
106  107                Яблоко         Магнит     9        22   839
110  111         Перец сладкий         Магнит     9        43  1100
132  133                  Мука  Больше-меньше     9         8  1479
162  163                   Лук          Лента     8        35   849
194  195                Молоко      Пятерочка     2        14   935
200  201               Ветчина      Пятерочка     9        43   823
209  210                 Лимон         Магнит     2        12   904
213  214                Свекла         Магнит     7        14   295
243  244                Чеснок          Лента     7         5  1190
256  257  Белокочанная капуста    Макс-маркет     9        19  1552
294  295                Свекла         Магнит     8        49   358
301  302             Мороженое         Магнит     9        21  1146
315  316               Сметана         Магнит     2        31  1851
316  317               Морковь    Перекресток    10        26   389
367  368                Гречка         Магнит    10         1   848
419  420                Фасоль    Макс-маркет     2        22   292
434  435                  Хлеб         Магнит     5        20  1875
440  441               Сосиски          Лента     7        20  1236
530  531                  Хлеб    Перекресток     6        32   845
540  541               Абрикос    Перекресток     7        45  1666
544  545        Сырокопчености  Больше-меньше     4        45  1392
561  562             Мороженое          Лента    10        18   659
593  594                Милкис         Магнит     1        50   747
617  618                 Сахар    Макс-маркет     7        11   558
658  659              Апельсин    Макс-маркет    10        10  1189
660  661              Апельсин         Магнит     5        30   780
667  668                Гречка  Больше-меньше     6        34   472
677  678                 Слива         Магнит     6        44   355
691  692               Ветчина    Перекресток    10         4  1632
699  700                  Мука         Магнит     8        50   544
706  707               Абрикос          Лента     9        24   386
711  712                Милкис    Макс-маркет    10         3  1527
735  736                  Яйца         Магнит     7        18  1034
773  774               Ветчина         Магнит     1        44  1853
790  791              Помидоры    Перекресток     9        36   301
798  799                  Хлеб  Больше-меньше     2        33   600
819  820                Редька  Больше-меньше    10         2  1928
833  834                   Чай         Магнит     7         1   214
858  859                 Кефир    Макс-маркет     2        39  1562
941  942                Творог  Больше-меньше    10         5   818
953  954                Яблоко  Больше-меньше     6        11   678
956  957                Томаты         Магнит    10        30   279
977  978                  Мясо      Пятерочка     2        36  1577
983  984       Зеленый горошек    Макс-маркет     7        13   654

In [13]:
food_is_running_out

      id       Name         Shop  Life  Quantity   Cal
1      2     Персик  Макс-маркет    73         1   363
11    12    Морковь       Магнит   152         1  1620
31    32  Смородина    Пятерочка   133         1  1407
84    85  Смородина       Магнит   119         1   510
131  132     Томаты        Лента   136         1   262
137  138      Слива    Пятерочка   103         1  1929
142  143    Капуста        Лента    88         1  1808
206  207     Гречка    Пятерочка    45         1   778
228  229      Сахар    Пятерочка   143         1   749
350  351     Милкис        Лента   145         1   921
366  367     Яблоко    Пятерочка   172         1  1736
367  368     Гречка       Магнит    10         1   848
368  369        Чай       Магнит    89         1   265
495  496     Йогурт  Перекресток   144         1  1569
588  589      Вишня    Пятерочка    29         1   644
631  632       Кофе  Перекресток    18         1  1420
689  690   Баклажан  Перекресток    90         1   704
796  797      Вишня        Лента    23         1   420
811  812   Петрушка       Магнит    57         1  1617
833  834        Чай       Магнит     7         1   214
883  884     Редька        Лента    85         1  1074
976  977     Гречка    Пятерочка   124         1  1884

In [14]:
expiration_date_ends.to_csv('expiration_date_ends.csv', index=False, encoding='utf-8')
food_is_running_out.to_csv('food_is_running_out.csv', index=False, encoding='utf-8')

In [15]:
ndf = data2[["End", "Count", "Name"]]

In [17]:
for i in range(min(1000, len(ndf))):
    ndf.loc[i, "End"] = int(data2["End"][i].split("-")[1])

In [18]:
int(data2["End"][1].split("-")[1])

11

In [20]:
max_counter = data2["Count"].max()

In [21]:
max_counter

99

In [22]:
data2[["Count", "Name"]].groupby(['Name']).max()

                      Count
Name
Milk                     10
Абрикос                  98
Апельсин                 87
Баклажан                 89
Бекон                    80
Белокочанная капуста     95
Ветчина                  97
Вишня                    99
Гречка                   95
Груша                    94
Зеленый горошек          99
Йогурт                   96
Капуста                  96
Картофель                97
Картошка                 80
Кефир                    97
Клубника                 88
Колбаса                  97
Кофе                     97
Лимон                    93
Лук                      99
Масло                    84
Мед                      99
Милкис                   92
Молоко                   97
Морковь                  99
Мороженое                98
Мука                     97
Мясо                     90
Огурец                   95
Огурцы                   94
Перец                    98
Перец сладкий            85
Персик                   91
Петрушка                 99
Помидоры                 96
Редис                    99
Редька                   87
Рис                      92
Сахар                    98
Свекла                   90
Слива                    98
Сливки                   99
Сметана                  96
Смородина                99
Сникерс                  99
Соль                     95
Сосиски                  99
Сырокопчености           98
Творог                   91
Томаты                   87
Укроп                    92
Фасоль                   89
Хлеб                     98
Чай                      94
Чеснок                   97
Яблоко                   85
Яйца                     90

In [23]:
for i in range(len(data2[["Count", "Name"]].groupby(['Name']).max())):
    data2[["Count", "Name"]].groupby(['Name']).max().iloc[i]

In [24]:
ndf["Count"]

0      10
1      21
2      98
3      33
4      21
       ..
995    36
996    74
997    34
998     1
999    88
Name: Count, Length: 1000, dtype: int64

In [68]:
result = data2[["Count", "Name"]].groupby(['Name']).mean()
counts_only = result['Count']

In [69]:
result.reset_index(inplace=True)

In [70]:
result

                    Name      Count
0                   Milk  10.000000
1                Абрикос  57.809524
2               Апельсин  47.736842
3               Баклажан  42.900000
4                  Бекон  38.428571
5   Белокочанная капуста  46.833333
6                Ветчина  69.866667
7                  Вишня  35.533333
8                 Гречка  58.666667
9                  Груша  48.263158
10       Зеленый горошек  44.083333
11                Йогурт  52.857143
12               Капуста  42.809524
13             Картофель  52.666667
14              Картошка  34.631579
15                 Кефир  57.941176
16              Клубника  51.578947
17               Колбаса  45.000000
18                  Кофе  57.588235
19                 Лимон  45.823529
20                   Лук  58.800000
21                 Масло  46.600000
22                   Мед  52.904762
23                Милкис  49.789474
24                Молоко  58.642857
25               Морковь  51.684211
26             Мороженое  57.333333
27                  Мука  49.960000
28                  Мясо  56.076923
29                Огурец  40.500000
30                Огурцы  40.750000
31                 Перец  54.526316
32         Перец сладкий  53.333333
33                Персик  44.200000
34              Петрушка  52.176471
35              Помидоры  49.960000
36                 Редис  50.173913
37                Редька  43.058824
38                   Рис  58.400000
39                 Сахар  50.142857
40                Свекла  41.928571
41                 Слива  50.526316
42                Сливки  53.400000
43               Сметана  57.571429
44             Смородина  55.380952
45               Сникерс  60.611111
46                  Соль  53.933333
47               Сосиски  60.529412
48        Сырокопчености  48.478261
49                Творог  47.941176
50                Томаты  50.411765
51                 Укроп  44.090909
52                Фасоль  52.809524
53                  Хлеб  47.333333
54                   Чай  39.944444
55                Чеснок  49.588235
56                Яблоко  53.153846
57                  Яйца  62.437500

In [28]:
ndf

    End  Count      Name
0    12     10      Milk
1    11     21    Персик
2     2     98       Лук
3    10     33     Редис
4     7     21  Помидоры
..   ..    ...       ...
995   8     36    Редька
996   3     74  Помидоры
997   1     34    Огурец
998  10      1    Огурец
999   3     88       Лук

[1000 rows x 3 columns]

In [71]:
ndf[["Count", "Name"]].Count[0]

10

In [72]:
df1 = ndf[["Name","Count"]]

In [73]:
merged_df = pd.merge(df1, result, on='Name')

In [74]:
merged_df

       Name  Count_x  Count_y
0      Milk       10     10.0
1    Персик       21     44.2
2    Персик       19     44.2
3    Персик        3     44.2
4    Персик        1     44.2
..      ...      ...      ...
995  Огурец       95     40.5
996  Огурец       71     40.5
997  Огурец       26     40.5
998  Огурец       34     40.5
999  Огурец        1     40.5

[1000 rows x 3 columns]

In [75]:
merged_df['result'] = merged_df['Count_x'] / merged_df['Count_y']

In [76]:
merged_df

       Name  Count_x  Count_y    result
0      Milk       10     10.0  1.000000
1    Персик       21     44.2  0.475113
2    Персик       19     44.2  0.429864
3    Персик        3     44.2  0.067873
4    Персик        1     44.2  0.022624
..      ...      ...      ...       ...
995  Огурец       95     40.5  2.345679
996  Огурец       71     40.5  1.753086
997  Огурец       26     40.5  0.641975
998  Огурец       34     40.5  0.839506
999  Огурец        1     40.5  0.024691

[1000 rows x 4 columns]

In [77]:
ndf[["End"]]

    End
0    12
1    11
2     2
3    10
4     7
..   ..
995   8
996   3
997   1
998  10
999   3

[1000 rows x 1 columns]

In [85]:
df_combined = pd.concat([data2[["End"]], merged_df], axis=1)

In [86]:
df_combined

            End    Name  Count_x  Count_y    result
0    2023-12-14    Milk       10     10.0  1.000000
1     2023-11-6  Персик       21     44.2  0.475113
2      2024-2-8  Персик       19     44.2  0.429864
3     2024-10-9  Персик        3     44.2  0.067873
4     2024-7-28  Персик        1     44.2  0.022624
..          ...     ...      ...      ...       ...
995   2024-8-26  Огурец       95     40.5  2.345679
996   2023-3-26  Огурец       71     40.5  1.753086
997    2023-1-3  Огурец       26     40.5  0.641975
998  2024-10-26  Огурец       34     40.5  0.839506
999    2024-3-2  Огурец        1     40.5  0.024691

[1000 rows x 5 columns]

In [80]:
condition = (df_combined['End'] == 11) & (df_combined['Name'] == 'Гречка')
filtered_df = df_combined[condition]
kof = filtered_df.result.mean() # На основе этого месяца прошлого года(12 Месяцев назад). Сколько было закупок

condition = ((df_combined['End'] == 9) | (df_combined['End'] == 10) | (df_combined['End'] == 11)) & (df_combined['Name'] == 'Гречка')
filtered_df = df_combined[condition]
kof2 = filtered_df.Count_x.mean()

res = kof * kof2

In [81]:
yeah3

54.2

In [82]:
december = pd.DataFrame({'December_date' : [f"2023-12-{i}" for i in range(1, 32)], 
                         'Name' : ["Гречка" for i in range(1, 32)],
                         'Count_L' : [res for i in range(1, 32)], 
                        
                        })

In [83]:
december

   December_date    Name    Count_L
0      2023-12-1  Гречка  43.631119
1      2023-12-2  Гречка  43.631119
2      2023-12-3  Гречка  43.631119
3      2023-12-4  Гречка  43.631119
4      2023-12-5  Гречка  43.631119
5      2023-12-6  Гречка  43.631119
6      2023-12-7  Гречка  43.631119
7      2023-12-8  Гречка  43.631119
8      2023-12-9  Гречка  43.631119
9     2023-12-10  Гречка  43.631119
10    2023-12-11  Гречка  43.631119
11    2023-12-12  Гречка  43.631119
12    2023-12-13  Гречка  43.631119
13    2023-12-14  Гречка  43.631119
14    2023-12-15  Гречка  43.631119
15    2023-12-16  Гречка  43.631119
16    2023-12-17  Гречка  43.631119
17    2023-12-18  Гречка  43.631119
18    2023-12-19  Гречка  43.631119
19    2023-12-20  Гречка  43.631119
20    2023-12-21  Гречка  43.631119
21    2023-12-22  Гречка  43.631119
22    2023-12-23  Гречка  43.631119
23    2023-12-24  Гречка  43.631119
24    2023-12-25  Гречка  43.631119
25    2023-12-26  Гречка  43.631119
26    2023-12-27  Гречка  43.631119
27    2023-12-28  Гречка  43.631119
28    2023-12-29  Гречка  43.631119
29    2023-12-30  Гречка  43.631119
30    2023-12-31  Гречка  43.631119

In [84]:
december.to_csv('prognoz2.csv', index=False, encoding='utf-8')

In [90]:
condition = (df_combined['Name'] == 'Гречка')
filtered_df = df_combined[condition]
df_combined_grechka = filtered_df

In [93]:
df_combined_grechka.dtypes()

TypeError: 'Series' object is not callable

In [94]:
print(df_combined_grechka.dtypes)

End         object
Name        object
Count_x      int64
Count_y    float64
result     float64
dtype: object

In [97]:
df_combined_grechka.result * 100

727    161.931818
728    138.068182
729    134.659091
730    110.795455
731    156.818182
732     95.454545
733    153.409091
734      0.000000
735     92.045455
736    117.613636
737     32.386364
738    139.772727
739      8.522727
740     64.772727
741     54.545455
742    155.113636
743     35.795455
744     39.204545
745    103.977273
746     49.431818
747     23.863636
748    136.363636
749    122.727273
750    124.431818
751    144.886364
752    143.181818
753    160.227273
Name: result, dtype: float64

In [102]:
df_combined_grechka['result'] = df_combined_grechka['result'] * 100

C:\Users\willa\AppData\Local\Temp\ipykernel_7632\3251986905.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combined_grechka['result'] = df_combined_grechka['result'] * 100

In [107]:
df_combined_grechka['result'] = (df_combined_grechka['result']).astype(int)
df_combined_grechka['Count_y'] = (df_combined_grechka['Count_y']).astype(int)

C:\Users\willa\AppData\Local\Temp\ipykernel_7632\2921806452.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combined_grechka['result'] = (df_combined_grechka['result']).astype(int)
C:\Users\willa\AppData\Local\Temp\ipykernel_7632\2921806452.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combined_grechka['Count_y'] = (df_combined_grechka['Count_y']).astype(int)

In [132]:
df_combined_grechka.to_csv('df_combined_grechka.csv', index=False, encoding='utf-8')

            End    Name  Count_x  Count_y  result
727   2023-7-16  Гречка       95       58     161
728   2023-7-20  Гречка       81       58     138
729   2023-6-28  Гречка       79       58     134
730  2023-10-23  Гречка       65       58     110
731    2024-9-6  Гречка       92       58     156
732    2024-3-7  Гречка       56       58      95
733    2024-6-8  Гречка       90       58     153
734    2023-1-5  Гречка        0       58       0
735    2024-9-9  Гречка       54       58      92
736   2024-8-14  Гречка       69       58     117
737  2023-10-15  Гречка       19       58      32
738  2024-10-10  Гречка       82       58     139
739    2023-6-9  Гречка        5       58       8
740   2023-11-9  Гречка       38       58      64
741  2024-11-26  Гречка       32       58      54
742  2024-10-17  Гречка       91       58     155
743   2023-8-20  Гречка       21       58      35
744  2024-11-28  Гречка       23       58      39
745    2024-3-2  Гречка       61       58     103
746   2024-1-16  Гречка       29       58      49
747   2024-10-3  Гречка       14       58      23
748   2024-7-22  Гречка       80       58     136
749   2024-1-23  Гречка       72       58     122
750   2024-9-22  Гречка       73       58     124
751   2024-9-17  Гречка       85       58     144
752   2024-11-6  Гречка       84       58     143
753   2024-6-19  Гречка       94       58     160

In [117]:
december['Count_L'] = (december['Count_L']).astype(int)
december.rename(columns={'Count_L': 'Count_x'}, inplace=True)

In [142]:
december

           End    Name  Count_x
0    2023-12-1  Гречка       43
1    2023-12-2  Гречка       43
2    2023-12-3  Гречка       43
3    2023-12-4  Гречка       43
4    2023-12-5  Гречка       43
5    2023-12-6  Гречка       43
6    2023-12-7  Гречка       43
7    2023-12-8  Гречка       43
8    2023-12-9  Гречка       43
9   2023-12-10  Гречка       43
10  2023-12-11  Гречка       43
11  2023-12-12  Гречка       43
12  2023-12-13  Гречка       43
13  2023-12-14  Гречка       43
14  2023-12-15  Гречка       43
15  2023-12-16  Гречка       43
16  2023-12-17  Гречка       43
17  2023-12-18  Гречка       43
18  2023-12-19  Гречка       43
19  2023-12-20  Гречка       43
20  2023-12-21  Гречка       43
21  2023-12-22  Гречка       43
22  2023-12-23  Гречка       43
23  2023-12-24  Гречка       43
24  2023-12-25  Гречка       43
25  2023-12-26  Гречка       43
26  2023-12-27  Гречка       43
27  2023-12-28  Гречка       43
28  2023-12-29  Гречка       43
29  2023-12-30  Гречка       43
30  2023-12-31  Гречка       43

In [136]:
df_combined_grechka.to_csv('df_combined_grechka.csv', index=False, encoding='utf-8')

In [145]:
df_year = pd.concat([df_combined_grechka, december], ignore_index=True)

In [147]:
df_year.to_csv('df_year.csv', index=False, encoding='utf-8')

In [146]:
df_year

           End    Name  Count_x  Count_y  result
0    2023-7-16  Гречка       95     58.0   161.0
1    2023-7-20  Гречка       81     58.0   138.0
2    2023-6-28  Гречка       79     58.0   134.0
3   2023-10-23  Гречка       65     58.0   110.0
4     2024-9-6  Гречка       92     58.0   156.0
5     2024-3-7  Гречка       56     58.0    95.0
6     2024-6-8  Гречка       90     58.0   153.0
7     2023-1-5  Гречка        0     58.0     0.0
8     2024-9-9  Гречка       54     58.0    92.0
9    2024-8-14  Гречка       69     58.0   117.0
10  2023-10-15  Гречка       19     58.0    32.0
11  2024-10-10  Гречка       82     58.0   139.0
12    2023-6-9  Гречка        5     58.0     8.0
13   2023-11-9  Гречка       38     58.0    64.0
14  2024-11-26  Гречка       32     58.0    54.0
15  2024-10-17  Гречка       91     58.0   155.0
16   2023-8-20  Гречка       21     58.0    35.0
17  2024-11-28  Гречка       23     58.0    39.0
18    2024-3-2  Гречка       61     58.0   103.0
19   2024-1-16  Гречка       29     58.0    49.0
20   2024-10-3  Гречка       14     58.0    23.0
21   2024-7-22  Гречка       80     58.0   136.0
22   2024-1-23  Гречка       72     58.0   122.0
23   2024-9-22  Гречка       73     58.0   124.0
24   2024-9-17  Гречка       85     58.0   144.0
25   2024-11-6  Гречка       84     58.0   143.0
26   2024-6-19  Гречка       94     58.0   160.0
27   2023-12-1  Гречка       43      NaN     NaN
28   2023-12-2  Гречка       43      NaN     NaN
29   2023-12-3  Гречка       43      NaN     NaN
30   2023-12-4  Гречка       43      NaN     NaN
31   2023-12-5  Гречка       43      NaN     NaN
32   2023-12-6  Гречка       43      NaN     NaN
33   2023-12-7  Гречка       43      NaN     NaN
34   2023-12-8  Гречка       43      NaN     NaN
35   2023-12-9  Гречка       43      NaN     NaN
36  2023-12-10  Гречка       43      NaN     NaN
37  2023-12-11  Гречка       43      NaN     NaN
38  2023-12-12  Гречка       43      NaN     NaN
39  2023-12-13  Гречка       43      NaN     NaN
40  2023-12-14  Гречка       43      NaN     NaN
41  2023-12-15  Гречка       43      NaN     NaN
42  2023-12-16  Гречка       43      NaN     NaN
43  2023-12-17  Гречка       43      NaN     NaN
44  2023-12-18  Гречка       43      NaN     NaN
45  2023-12-19  Гречка       43      NaN     NaN
46  2023-12-20  Гречка       43      NaN     NaN
47  2023-12-21  Гречка       43      NaN     NaN
48  2023-12-22  Гречка       43      NaN     NaN
49  2023-12-23  Гречка       43      NaN     NaN
50  2023-12-24  Гречка       43      NaN     NaN
51  2023-12-25  Гречка       43      NaN     NaN
52  2023-12-26  Гречка       43      NaN     NaN
53  2023-12-27  Гречка       43      NaN     NaN
54  2023-12-28  Гречка       43      NaN     NaN
55  2023-12-29  Гречка       43      NaN     NaN
56  2023-12-30  Гречка       43      NaN     NaN
57  2023-12-31  Гречка       43      NaN     NaN